#root {
  width: 100%;
  min-height: 100vh;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mainContainer img {
  width: 100%;
  margin-bottom: 20px;
}

.mainContainer p {
  text-align: center;
}

.mainContainer button {
  cursor: pointer;
}

.mainContainer input {
  width: 50%;
  height: 30px;
}

.selectContainer {
  width: 100%;
  margin: 20px 60px 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}